#wrapper, header, nav, main, aside, footer {
  border: 1px solid #000;
  padding: 16px;
  margin: 8px;
}
#wrapper {
  color: #000;
  background-color: #fff;
}
header, nav, main, aside, footer {
  font-weight: bold;
  color: #000;
  background-color: #aaa;
}
header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-size: 18px;
  margin-top: 8px;
}
header .button-container {
  display: flex;
}
header .button-container .button {
  border: 1px solid #000;
  padding: 8px;
}
nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  border: 1px solid #000;
  padding: 8px;
  width: 20%;
  margin-left: 4px;
}
nav ul li:first-child {
  margin-left: 0;
}
.flex {
  display: flex;
}
.description {
  width: 40%;
  margin-left: 16px;
}
img {
  width: 60%;
  height: 100%;
}
main {
  width: 70%;
  height: 100%;
}
aside {
  width: 30%;
}
aside ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
aside ul li {
  border: 1px solid #000;
  padding: 8px;
  margin-top: 8px;
}
